/*
===============================================================================

QUESTION.HTML STYLESHEET

===============================================================================
*/

body {
	margin: 0 auto;
	padding: 0;
	width: 640px;
}

/*
===============================================================================

QUESTION/ANSWER BLOCK

===============================================================================
*/

/*
=======================================
Main Question/Answer Block Style
=======================================
*/

.question,
.answer {
	display: flex;
	width: 100%;
	padding: 20px 0;
}

.question > .left,
.answer > .left  {
	width: 40px;
	text-align: center;
	padding-right: 15px;
}

/*
=======================================
Question/Answer Rating
=======================================
*/

.questionRating,
.answerRating {
	font: 17px "Lato";
}

/*
=======================================
Question Title
=======================================
*/

.questionTitleContainer {
	margin-bottom: 10px;
}

.questionTitle {
	color: #23629F;
	text-decoration: none;
	font: 17px "Lato";
}

/*
=======================================
Question Tags List
=======================================
*/

.questionTagsList {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.questionTagsListItem {
	background: #f3f3f3;
	font: 12px "Lato";
	display: inline;
	padding: 3px 6px;
}

.questionTag {
	color: #23629F;
	text-decoration: none;
}

.questionTag:hover {
	background: #ededed;
}

/*
=======================================
Question/Answer Info
=======================================
*/

.questionInfo,
.answerInfo {
	margin-top: 3px;
	font: 12px "Lato";
}

/*
=======================================
Question/Answer Body
=======================================
*/

#questionBody p,
#questionBody ul,
#questionBody li,
.answerBody p,
.answerBody ul,
.answerBody li {
	font: 13px "Lato";
	text-align: justify;
	margin-top: 0;
}

#questionBody p code,
.answerBody p code {
	background: #f3f3f3;
	padding: 1px 4px;
}

#questionBody p a,
.answerBody p a {
	color: #23629F;
}

#questionBody blockquote,
.answerBody blockquote {
	border-left: 3px solid #ccc;
	margin-left: 0;
	padding-left: 10px;
}

/*
===============================================================================

ANSWERS LIST

===============================================================================
*/

#answersCountHeader {
	font: bold 19px "Lato";
	margin: 20px auto;
}

.answer {
	border-top: 1px solid #ccc;
}
