<!DOCTYPE html>
<html>
    <head>
        <title>Login | StackCanary</title>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/stylesheets/login.css" />
    </head>

    <body>
        <div id="loginFormContainer">
            <form id="loginForm" action="/login" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

                <div id="usernameInputContainer">
                    <label>Username
                        <input autocomplete="off"
                               required
                               spellcheck="false"
                               id="usernameInput"
                               type="text"
                               name="username"/></label>
                </div>

                <div id="passwordInputContainer">
                    <label>Password <input autocomplete="off"
                                           required
                                           spellcheck="false"
                                           id="passwordInput"
                                           type="password"
                                           name="password"/></label>
                </div>

                <div id="submitButtonContainer">
                    <input id="submitButton" type="submit" value="Sign In"/>
                </div>
            </form>

            <span id="doNotHaveAnAccountLabel">Do not have an account? <a id="registrationPageLink"href="/registration">Sign Up</a></span>
        </div>
    </body>
</html>