<!DOCTYPE html>
<html>
    <head>
        <title>Registration | StackCanary</title>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/stylesheets/registration.css" />
    </head>

    <body>
        <div id="registrationFormContainer">
            <form id="registrationForm" action="/registration" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

                <div id="usernameInputContainer">
                    <label>Username
                        {{#userWithThisUsernameAlreadyExistsMessage}}
                            <span id="userWithThisUsernameAlreadyExistsMessage">{{userWithThisUsernameAlreadyExistsMessage}}</span>
                        {{/userWithThisUsernameAlreadyExistsMessage}}

                        <input autocomplete="off"
                               required
                               id="usernameInput"
                               type="text"
                               name="username"/>
                    </label>
                </div>

                <div id="passwordInputContainer">
                    <label>Password <input autocomplete="off"
                                           required
                                           id="passwordInput"
                                           type="password"
                                           name="password"/></label>
                </div>

                <div id="submitButtonContainer">
                    <input id="submitButton" type="submit" value="Sign Up"/>
                </div>
            </form>
        </div>
    </body>
</html>
